<!DOCTYPE html>
<html>
    <head>
        <title>Testing 2,3,4</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <table class="table"> <!--Populates table etc-->
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row" style="background-color: {{ row[-1] }};"> <!--Proof of concept that a value in the data can determine the row colour - important for team colours-->
                {% for cell in row[0:-1] %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table> <!--Script at end reloads the page every so often to update content, will be more frequent during a race.-->
        <script> 
            setTimeout(function() { 
                location.reload(); 
            }, {{ timeout }}); 
        </script>
    </body>
</html>